{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
        TalkLikeTV is a language learning application designed to address the shortcomings of other language apps by incorporating authentic native speakers conversing at real speeds and tones.
    <br><br>
        The unique approach involves learning from the subtitles of TV shows and then watching the episodes at your convenience. By translating from your native language to the spoken subtitles of a TV show, you not only grasp how native speakers communicate but also enhance your ability to understand the dialogue of the show.
    </p>
{{end}}