{{define "title"}}Phrase{{end}}

{{define "main"}}
    {{if .Phrases}}
    {{range $index, $value := .Phrases}}
    <div id="phrase{{$index}}" class="phraseTable" >
        <table>
            <tr>
                <td>{{.Phrase}}</td>
            </tr>
         </table>
         <table>
            <tr>
                <td><input id="solution{{$index}}" type="text" placeholder="solución"></td>
            </tr>
         </table>
         <table>
            <tr>
               <td id="answer{{$index}}" class="answer">{{.Translates}}</td>
             </tr>
         </table>
         <table>
             <tr>
                 <td><button id="hintButton" name="hintButton">Hint</button></td>
                 <td><button id="showButton" name="showButton">Show</button></td>
                 <td>
                     <form name='phraseCorrectForm' novalidate>
                         <input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
                         <input type='hidden' name='phrase_id' value='{{.ID}}'>
                         <input type='submit' value='Accept'>
                     </form>
                 </td>
                 <td><button id="rejectButton">Reject</button></td>
             </tr>
         </table>
    </div>
    <div id="tableButtons" class="tableButtons">
    </div>
    {{end}}
    {{end}}
    <table>
        <tr>
            <td><button id="startButton">Start</button></td>
        </tr>
    </table>
    <br>
    {{if .Phrases}}
     <table>
        <tr>
            <th>Phrase</th>
            <th>Translates</th>
            <th>ID</th>
         </tr>
        {{range .Phrases}}
        <tr>
            <!-- Use the new clean URL style-->
            <td>{{.Phrase}}</td>
            <td>{{.Translates}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    <script src="/static/js/view.js" type="text/javascript"></script>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}