{{define "title"}}Phrase{{end}}

{{define "main"}}
    <h2>Phrases</h2>
    {{if .Phrases}}
     <table>
        <tr>
            <th>Phrase</th>
            <th>Translates</th>
            <th>ID</th>
         </tr>
        {{range .Phrases}}
        <tr>
            <!-- Use the new clean URL style-->
            <td>{{.Phrase}}</td>
            <td>{{.Translates}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}