{{define "title"}}Phrase{{end}}

{{define "main"}}
     <table>
        <tr>
          <td>{{(index .Phrases 0).Phrase}}</td>
        </tr>
     </table>
     <table>
        <tr>
          <th><input type="text" placeholder="solución"></th>
        </tr>
     </table>
     <table>
        <tr>
          <td><button id="hintButton">Hint</button></td>
          <td><button id="showButton">Show</button></td>
          <td><button id="acceptButton">Accept</button></td>
          <td><button id="rejectButton">Reject</button></td>
        </tr>
     </table>
     <table>
        <tr>
          <th class="answer">{{(index .Phrases 0).Translates}}</th>
        </tr>
    </table>
    <br>
    {{if .Phrases}}
     <table>
        <tr>
            <th>Phrase</th>
            <th>Translates</th>
            <th>ID</th>
         </tr>
        {{range .Phrases}}
        <tr>
            <!-- Use the new clean URL style-->
            <td>{{.Phrase}}</td>
            <td>{{.Translates}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    <script src="/static/js/view.js" type="text/javascript"></script>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}